body {
  margin: 0px;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.navbar-container {
  box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
  -moz-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
}
.navbar {
  max-width: 1560px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar-left svg {
  width: 50px;
  margin-right: 20px;
}

.navbar-left div {
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-left div:hover,
.find-a-store:hover {
  color: #00754a;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left > *,
.navbar-right > * {
  /* this basically adds padding to the navbar, i think (*) is the whole document, so 20px padding from eachother, all the divs in the navbar-left code block and padding from the norders of the document  */
  margin: 10px;
}

.find-a-store {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.sign-in,
.join-now {
  font-weight: 500;
  border: 1px solid black;
  border-radius: 40px;
  padding: 5px 20px;
}

.join-now {
  background-color: black;
  color: white;
}

.join-now:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.sign-in:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

/* PRODUCT SECTION */
.product {
  display: flex;
}
.product-section-1 {
  background-color: #1e3932;
}
.product-section-2 {
  background-color: #fa91aa;
}
.product-section-3 {
  background-color: #f06464;
}
.product-section-4 {
  background-color: #faaa5a;
}
.product-section-5 {
  background-color: #9bf5b4;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.product img {
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}

.product-left,
.product-right {
  max-width: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
}

.product-title {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.product-title-2 {
  font-size: 48px;
  color: #1e3932;
}
.product-title-3,
.product-title-4,
.product-title-5 {
  font-size: 48px;
  color: white;
  margin-top: 60px;
}
.product-title-4,
.product-title-5 {
  color: #1e3932;
}

.product-container {
  margin: 40px 0px;
  display: flex;
}

.product-button {
  border: 1px solid white;
  max-width: max-content; /*Basically like flex wrap*/
  padding: 5px 20px;
  border-radius: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.product-button-white {
  color: white;
}

.product-button-black {
  color: black;
  border-color: black;
}

.product-description {
  text-align: center;
  padding: 30px 60px;
  font-size: 18px;
}

.product-section-4 .product-description {
  color: #1e3932;
  font-size: 24px;
  max-width: 500px;
  text-align: center;
  /* margin: auto; */
}

.product-section-5 .product-description {
  color: #1e3932;
  font-size: 22px;
}

.footer {
  padding: 50px;
  text-align: center;
}
